@import "tailwindcss";



@media (max-width: 1110px) {
    #service-text{
      top: 150px;
      left: 90px;
    }
  
  }
@media (max-width: 1014px) {
    #service-text{
      top: 150px;
      left: 90px;
    }
  
  }

  @media (max-width: 951px) {
    #service-text{
      top: 100px;
      left: 50px;

    }
  
  }
   @media (max-width: 857px) {
    #service-text{
      top: 100px;
      left: 100px;
      
    }
      #service-text h1{
    font-size: 35px;
      
    }
  
  }

    @media (max-width: 763px) {
    #service-text{
      top: 140px;
      left: 220px;

      
    }
      #service-text h1{
    font-size: 35px;
      
    }
      #service-text button{
    padding: 10px;
      
    }
  
  }
    @media (max-width: 632px) {
    #service-text{
      top: 120px;
      left: 180px;

      
    }
      #service-text h1{
    font-size: 25px;
      
    }
      #service-text button{
    padding: 10px;
      
    }
  
  }
      @media (max-width: 426px) {
    #service-text{
      top: 60px;
      left: 90px;
     

      
    }
      #service-text h1{
    font-size: 25px;
      
    }
      #service-text button{
    padding: 10px;
      
    }
  
  }
   @media (max-width: 376px) {
    #service-text{
      top: 60px;
      left: 60px;
     

      
    }
      #service-text h1{
    font-size: 25px;
      
    }
      #service-text button{
    padding: 10px;
      
    }
  
  }
   @media (max-width: 321px) {
    #service-text{
      top: 60px;
      left: 40px;
     

      
    }
      #service-text h1{
    font-size: 25px;
      
    }
      #service-text button{
    padding: 10px;
      
    }
  
  }
@keyframes float {
  0%, 100% {
    transform: translateY(0) translateX(0);
  }
  25% {
    transform: translateY(-10px) translateX(5px);
  }
  50% {
    transform: translateY(-5px) translateX(-5px);
  }
  75% {
    transform: translateY(-8px) translateX(3px);
  }
}

.animate-float {
  animation: float 6s ease-in-out infinite;
}