@import "tailwindcss";



@media (max-width: 1110px) {
    #service-text{
      top: 150px;
      left: 200px;
    }
  
  }
@media (max-width: 1014px) {
    #service-text{
      top: 150px;
      left: 150px;
    }
  
  }

  @media (max-width: 951px) {
    #service-text{
      top: 100px;
      left: 100px;

    }
  
  }
   @media (max-width: 857px) {
    #service-text{
      top: 100px;
      left: 100px;
      
    }
      #service-text h1{
    font-size: 35px;
      
    }
  
  }

    @media (max-width: 763px) {
    #service-text{
      top: 50px;
      left: 100px;

      
    }
      #service-text h1{
    font-size: 35px;
      
    }
      #service-text button{
    padding: 10px;
      
    }
  
  }
    @media (max-width: 632px) {
    #service-text{
      top: 50px;
      left: 100px;

      
    }
      #service-text h1{
    font-size: 25px;
      
    }
      #service-text button{
    padding: 10px;
      
    }
  
  }
@keyframes float {
  0%, 100% {
    transform: translateY(0) translateX(0);
  }
  25% {
    transform: translateY(-10px) translateX(5px);
  }
  50% {
    transform: translateY(-5px) translateX(-5px);
  }
  75% {
    transform: translateY(-8px) translateX(3px);
  }
}

.animate-float {
  animation: float 6s ease-in-out infinite;
}