@import "tailwindcss";



@media (max-width: 1378px) {
  #service-text {
    font-size: 120px !important;
    bottom: -38px !important;
  }
}

@media (max-width: 702px) {
  #service-text {
    font-size: 100px !important;
    bottom: -31px !important;
  }
}
@media (max-width: 598px) {
  #service-text {
    font-size: 80px !important;
    bottom: -25px !important;
  }
}
@media (max-width: 489px) {
  #service-text {
    font-size: 70px !important;
    bottom: -22px !important;
  }
}
@media (max-width: 428px) {
  #service-text {
    font-size: 60px !important;
    bottom: -19px !important;
  }
}
@media (max-width: 379px) {
  #service-text {
    font-size: 50px !important;
    bottom: -16px !important;
  }
}
@media (max-width: 327px) {
  #service-text {
    font-size: 40px !important;
    bottom: -12px !important;
  }
}