@import "tailwindcss";



@media (max-width: 1110px) {
    #service-text{
      top: 150px;
      left: 200px;
    }
  
  }
@media (max-width: 1014px) {
    #service-text{
      top: 150px;
      left: 150px;
    }
  
  }

  @media (max-width: 951px) {
    #service-text{
      top: 100px;
      left: 100px;

    }
  
  }
   @media (max-width: 857px) {
    #service-text{
      top: 100px;
      left: 100px;
      
    }
      #service-text h1{
    font-size: 35px;
      
    }
  
  }

    @media (max-width: 763px) {
    #service-text{
      top: 50px;
      left: 100px;

      
    }
      #service-text h1{
    font-size: 35px;
      
    }
      #service-text button{
    padding: 10px;
      
    }
  
  }
    @media (max-width: 632px) {
    #service-text{
      top: 50px;
      left: 100px;

      
    }
      #service-text h1{
    font-size: 25px;
      
    }
      #service-text button{
    padding: 10px;
      
    }
  
  }
