.home-section {
  padding: 4rem 0 0rem;
  background-color: #142241;
}

/*  About Section  */
.about-section {
  padding: 3rem 0 6rem;
  background-color: #142241;
}

/* Service section */
.service-section {
  padding: 3rem 0 3rem;
  background-color: white;
}

/* Process Section */
.process-section {
  padding: 3rem 0 6rem;
  background-color: #142241;
  position: relative;
  z-index: 0;
}

/* Project Section  */
.project-section {
  padding: 3rem 0 0rem;
  background-color: white;
}

/* Faq  Section  */
.faqs-section {
  padding: 3rem 0 6rem;
  background-color: white;
}

/* // Testinomials Sections */
.testinomials-section {
  padding: 3rem 0 6rem;
  background-color: white;
}
/* Mobile: Max-width 768px */
@media (max-width: 768px) {
  .testinomials-section {
    padding-bottom: 3rem;
    padding-top: 0rem; /* Reduce bottom padding on mobile */
  }
  .faqs-section {
    padding-bottom: 2rem;
    padding-top: 0rem;
  }
  .project-section{
   padding: 0rem 0 0rem;
  }
}

/* contact sections  */
.contact-section {
  padding: 3rem 0 0rem;
  background-color: #142241;
}

/* // Navbar  */
.menu-expand {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
}

.menu-expand.open {
  max-height: 50vh; /* Adjust as needed */
}

/* // toast  */
.custom-toast-success {
  background-color: white;
  border-left: 4px solid #22c55e; /* Tailwind green-500 */
  color: black;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* /// process aniamtion */
@keyframes grow-line {
  0% {
    width: 0%;
    opacity: 0;
  }
  100% {
    width: 100%;
    opacity: 1;
  }
}

.animate-grow-line {
  animation: grow-line 1.5s ease-out forwards;
}
