.home-section {
  padding: 3rem 0 1.5rem;
}



/*  About Section  */
.about-section{
  padding: 3rem 0 6rem;
   background-color: #142241;
}

/* Service section */
.service-section{
  padding: 3rem 0 3rem;
   background-color: white;

}

/* Process Section */
.process-section{
  padding: 3rem 0 6rem;
  background-color: #142241;
  position: relative;
  z-index: 0;
  
}

/* Project Section  */
.project-section{
  padding: 3rem 0 6rem;
  background-color: white;
}

/* Faq  Section  */
.faqs-section{
  padding: 3rem 0 6rem;
  background-color: white;
}


/* // Testinomials Sections */
.testinomials-section{
  padding: 3rem 0 6rem;
  background-color: white;
}

/* contact sections  */
.contact-section{
  padding: 3rem 0 6rem;
  background-color: #142241;
}